{% extends 'navbar.html' %}

{% load static %}

{% block title %} Sign Up {%endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/sign_in.css' %}" />

<section
	class="hero-wrap hero-wrap-2 js-fullheight"
	style="background-image: url('/static/images/bg_1.jpg')"
>
	<div class="overlay"></div>
	<div class="container">
		<div
			class="
				row
				no-gutters
				slider-text
				js-fullheight
				align-items-end
				justify-content-center
			"
		>
			<div class="jumbotron text-xs-center">
				<h1 style="font-family: Gabriola; color: #ccff00">Register</h1>
				<div>
					{% for message in messages %}
						<h3 style="font-family: Gabriola; color: #ccff00"> {{ message }} </h3>
					{% endfor %}		
				</div>
				<div
					class="container"
					style="
						max-width: 480px;
						min-width: 480px;
						max-height: 480px;
						min-height: 480px;
					"
				>
					<div class="td-userform text-xs-left"
					style="margin: 10px auto 0">
						<form
							class="td-userform-form clearfix"
							action="sign_up"
							method="post"
							
						>
							{% csrf_token %}

							<div>
								<input
									name="first_name"
									class="form-control"
									type="text"
									placeholder="Enter first Name"
								/>
							</div>
							<div>
								<input
									name="last_name"
									class="form-control"
									type="text"
									placeholder="Enter last Name"
								/>
							</div>
							<div>
								<input
									name="email"
									class="form-control"
									type="text"
									placeholder="Enter Email"
								/>
							</div>
							<div>
								<input
									name="password"
									class="form-control"
									type="text"
									placeholder="Choose a Password"
								/>
							</div>
							<div>
								<input
									name="confirm_password"
									class="form-control"
									type="text"
									placeholder="Confirm your Password"
								/>
							</div>
							<div>
								<button
									class="
										btn btn-primary btn-block btn-register
									"
									type="Submit"
								>
									Register
								</button>
								<button class="btn btn-fb btn-block">
									<i class="fa fa-facebook"></i>Facebook
								</button>
							</div>
							<div class="td-userform-footer">
								<p style="color: black">
									Already a Member?
									<a
										class="switch-form-btn"
										href="{% url 'my_account' %}"
										>Login Here</a
									>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js+popper.min.js+bootstrap.min.js.pagespeed.jc.XYJncYYmWq.js' %}"></script>
<script>
	eval(mod_pagespeed_FbddGGHD0O);
</script>
<script>
	eval(mod_pagespeed_Gz_8_YqGuo);
</script>
<script>
	eval(mod_pagespeed_mKGJotGmsp);
</script>
<script src="{% static 'js/jquery.easing.1.3.js+jquery.waypoints.min.js+jquery.stellar.min.js+owl.carousel.min.js.pagespeed.jc.WW2LcoqR5A.js' %}"></script>
<script>
	eval(mod_pagespeed_kG78XOTU7w);
</script>
<script>
	eval(mod_pagespeed_IDqXxwjrY1);
</script>
<script>
	eval(mod_pagespeed_wYnJ34wWwM);
</script>
<script>
	eval(mod_pagespeed_T1dne1QaaI);
</script>
<script src="{% static 'js/jquery.magnific-popup.min.js+jquery.animateNumber.min.js+bootstrap-datepicker.js+scrollax.min.js+google-map.js+main.js.pagespeed.jc.XKsqG7DTw7.js' %}"></script>
<!-- <script>eval(mod_pagespeed_obymdTcwJJ);</script> -->
<script>
	eval(mod_pagespeed_Vk0D9Gejjm);
</script>
<script>
	eval(mod_pagespeed_3_BoWutCVr);
</script>
<script>
	eval(mod_pagespeed_JB4tHPHtU5);
</script>
<!-- <script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
<!-- <script>eval(mod_pagespeed_Xlo9cAVk6n);</script> -->
<script>
	eval(mod_pagespeed_fCZmv2zyQB);
</script>

<script
	async
	src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag("js", new Date());

	gtag("config", "UA-23581568-13");
</script>

{% endblock body %}
